* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tan: #BABBA4;
    --fontsize: 2rem;
     
}

body {
    height: 100%;
    width: 100%;
    background-color: #4B5653;
}

.navbar {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.navbar a.active{
    color: #ff6600;
}
.navbar ul {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.navbar li {
    display: block;
    text-decoration: none;
}

.navbar a {
    justify-content: space-between;
    color: tan;
    text-decoration: none;
}

/* --- START OF MAIN PICTURE BACKGROUND ---- */

.bg-header-container {
    background-image: url(bg1.png);
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 100px;
    margin-top: 200px;
}

.bg-text h1 {
    font-weight: bold;
    font-size: 4rem;
}

/*-- START OF QUOTE CONTAINER UNDER HEADER ------------------- */

.quote-container {
    padding: 10px 10px;
    position: inherit;
    transform: translateY(-50%);
    background-color: var(--tan);
    width: 550px;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0px 0px 20px 10px rgba(34, 32, 30, 0.975);
}

/*-- START OF CONTAINERS -------*/

.article-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.article-header {
    text-align: center;
    width: 700px;
    font-size: 2rem;
    padding: 20px;
    margin: auto;
    margin-top: 3rem;
    border: var(--tan) solid 3px;
    margin-bottom: 2rem;
}

.article-header h2 {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* --- START OF MAIN CONTAINER 1 --------- */

.container1 {
    display: flex;
    align-items: center;
    padding-left: 7rem;
}

.hatch-pic {
    background-image: url(hatch.png);
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.text-box1{
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(-25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: -17px 17px 20px 10px rgb(10, 7, 1);
}

.text-box1 p {
    margin-top: 5px;
}

.read-more1 {
    margin-top: 40px;
}

.read-more1 a {
    text-decoration: none;
    color: rgb(169, 138, 55);
}

/* --- END CONTAINER 1 ------------------------------------------------ */

/* --- START CONTAINER 2 ---------- */

.container2 {
    display: flex;
    align-items: center;
    padding-right: 7rem;
}

.tyingbench-pic {
    background-image: url(desk.png);
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.text-box2 {
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 17px 17px 20px 10px rgb(10, 7, 1);
}

.text-box2 p {
    margin-top: 20px;
}

.read-more2 {
    margin-top: 20px;
}

.read-more2 a {
    text-decoration: none;
    color: rgb(169, 138, 55);
}

/* -- END CONTAINER 2 ------------------------------------------------------------ */

/* --- START CONTAINER 3 ------- */
.container3 {
    display: flex;
    align-items: center;
    padding-left: 7rem;
}

.bonefish-pic {
    background-image: url(bonefish.png);
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.text-box3 {
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(-25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: -17px 17px 20px 10px rgb(10, 7, 1);
}

.text-box3 p {
    margin-top: 20px;
}

.read-more3 {
    margin-top: 20px;
}

.read-more3 a {
    text-decoration: none;
    color: rgb(169, 138, 55);
}

/* --- END CONTAINER 3 ------------------------------------------------ */

/* --- START CONTAINER 4 ---------- */
.container4 {
    display: flex;
    align-items: center;
    padding-right: 7rem;
}

.duskfishing-pic {
    background-image: url(bg1.png);
    width: 600px;
    height: 300px;
    background-color: center;
    background-size: cover;
}

.text-box4 {
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 17px 17px 20px 10px rgb(10, 7, 1);
}

.text-box4 p {
    margin-top: 20px;
}

.read-more4 {
    margin-top: 20px;
}

.read-more4 a {
    text-decoration: none;
    color: rgb(169, 138, 55);
}

/* --- END CONTAINER 4 ------------------------------------------------ */

/* -- ABOUT US SECTION ------------------ */

.about-us {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.403);
    display: flex;
    flex-direction: row;
}

.about-pic {
    background-image: url(bg2.png);
    width: 50%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.about-textbox {
    width: 50%;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
}

.about-textbox h1 {
    text-decoration: underline;
}

.about-textbox p {
    margin-top: 30px;
}

/* -- SUBSCRIBE CONTAINER ---------------- */

.subscribe-container {
    width: 80%;
    margin: auto;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.186);
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.subscribe-text {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

.subh1 {
    font-size: 2.5rem;
}

.subh3 {
    font-family: sans-serif;
    font-size: 14px;
}

.sub-input {
    width: 270px;
    height: 2.5rem;
    margin-top: 20px;
    background-color: #4B5653;
    border: none;
    padding-left: 10px;
}

.submit-btn {
    width: 4rem;
    height: 30px;
    margin-top: 20px;
    border: white solid 2px;
}

.submit-btn:hover {
    pointer-events: visible;
    cursor: pointer;
    transition: .2s all ease-in;
}

/* --- END OF SUBSCRIBE CONTAINER ------------------------- */

/* --- START BOTTOM LINKS ------------------ */

.bottom {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.btm-logo {
    display: flex;
    flex: start;
}

.btm-links {
    display: flex;
    flex-direction: row;
    flex: wrap;
    gap: 3rem;
    float: right;
}

.btm-links a {
    text-align: right;
    float: right;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}



