* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tan: #BABBA4;
    --fontsize: 2rem;
    
}

body {
    height: 150vh;
    width: 100%;
    background-color: #4B5653;
    margin: 0;
    padding: 0;
}

header {

}

.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.navbar li {
    display: block;
    text-decoration: none;
}

.navbar a {
    justify-content: space-between;
    color: tan;
    text-decoration: none;
}

/* --- START OF MAIN PICTURE BACKGROUND ---- */

.bg-header-container {
    background-image: url(bg1.png);
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 100px;
    margin-top: 200px;
}

.bg-text h1 {
    font-weight: bold;
    font-size: 4rem;
}

/*-- START OF QUOTE CONTAINER UNDER HEADER ------------------- */

.quote-container {
    position: inherit;
    transform: translateY(-50%);
    background-color: var(--tan);
    width: 550px;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}

/*-- START OF CONTAINERS -------*/

.article-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-header {
    text-align: center;
    width: 500px;
    height: 75px;
    font-size: 2rem;
    padding: 20px;
    margin: auto;
    border: var(--tan) solid 1px;
    margin-bottom: 3rem;
}

.article-header h2 {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container1 {
    display: flex;
    align-items: center;
    padding-left: 7rem;
}

.hatch-pic {
    background-image: url(hatch.png);
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.text-box1{
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(-25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.container2 {
    display: flex;
    align-items: center;
    padding-right: 7rem;
}

.tyingbench-pic {
    background-image: url(desk.png);
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.text-box2 {
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.container3 {
    display: flex;
    align-items: center;
    padding-left: 7rem;
}

.bonefish-pic {
    background-image: url(bonefish.png);
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.text-box3 {
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(-25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* --- DUSK FISHING CONTAINER 4 -------------------- */

.container4 {
    display: flex;
    align-items: center;
    padding-right: 7rem;
}

.duskfishing-pic {
    background-image: url(bg1.png);
    width: 600px;
    height: 300px;
    background-color: center;
    background-size: cover;
}

.text-box4 {
    background-color: var(--tan);
    height: 11rem;
    width: 500px;
    transform: translateX(25%);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

/* -- ABOUT US SECTION ------------------ */

.about-us {
    width: 100vw;
    background-color: pink;
    display: flex;
    flex-direction: row;
}

.about-pic {
    background-image: url(bg2.png);
    width: 50%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.about-textbox {
    width: 50%;
    text-align: center;
    padding: 20px 20px 20px;
}

.text {
    width: 300px;
    margin: auto;
    padding-top: 80px;
}

/* -- SUBSCRIBE CONTAINER ---------------- */

.subscribe-container {
    top:0;
    width: 80%;
    margin: auto;
    height: 20rem;
    background-color: var(--tan);
    text-align: center;
    padding-top: 20px;
}

.subscribe_text {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin-top: 5rem;
}

.input_email {
    border: none;
    background-color: var(--tan);
    margin-top: 20px;
    margin-bottom: 20px;
}

